@let isInteractive = hasRelevant();
@let triggerClasses = classes() + " " + (isInteractive ? defaultClasses() : "") + " " + (isLoading() ? loadingClasses() : "");

<span
  class="relative inline"
  [class]="triggerClasses"
  [class.annotation-popover-anchor-active]="isDialogOpen()"
  [attr.role]="isInteractive ? 'button' : null"
  [attr.tabindex]="isInteractive ? 0 : null"
  [attr.aria-busy]="isLoading() ? 'true' : null"
  (onActivate)="handleOpenPopover($event)"
>
  <ng-content />
</span>

<ng-template #annotation let-open="open">
  @if (hasError()) {
    <div class="text-surface-500 max-w-80 p-3 text-sm" *transloco="let t">{{ t("app.shared.textView.error") }}</div>
  } @else {
    @for (annotation of currentAnnotations(); track annotation.uuid) {
      <annotation-dialog-item [annotation]="annotation" [viewResponse]="getViewResponse(annotation)" [isAnnotationOpened]="open" />
      <p-divider [hidden]="$last" />
    }
  }
</ng-template>

<p-popover appendTo="body" (onHide)="handlePopoverHide()" [focusOnShow]="false">
  <div class="absolute -top-3 -right-3 hidden md:block">
    <p-button icon="pi pi-window-maximize" rounded size="small" severity="primary" (onClick)="handleOpenDialog($event)" />
  </div>
  <ng-container *ngTemplateOutlet="annotation; context: { open: isPopoverOpen() }" />
</p-popover>

<p-dialog
  #dialog
  appendTo="body"
  [modal]="false"
  [dismissableMask]="false"
  [visible]="isDialogOpen()"
  (visibleChange)="handleDialogChange($event)"
  [pt]="{
    header: {
      onPointerdown: dialog.moveOnTop.bind(dialog),
    },
  }"
  draggable
  closable
  resizable
>
  <ng-container *ngTemplateOutlet="annotation; context: { open: isDialogOpen() }" />
</p-dialog>
