@let isSearching = searchPhrase() !== "";
@let active = activeOption();

<shared-screen-shell [isStickySidebar]="true" sidebarPosition="left" *transloco="let t">
  <ng-template #sidebar>
    <section class="border-surface-300 bg-surface-0 rounded-md border p-5 select-none">
      <shared-select
        label="app.screens.entities.select"
        [items]="listOptions()"
        [activeItem]="active"
        (activeItemChange)="handleActiveItemChange($event)"
      />
    </section>

    <nav class="border-surface-300 bg-surface-0 space-y-5 rounded-md border p-5 select-none">
      <p-ifta-label>
        <input
          id="search"
          pInputText
          fluid
          type="search"
          autocomplete="off"
          [ngModel]="searchPhrase()"
          (ngModelChange)="handleSearchChange($event)"
        />

        <label for="search">
          {{ t("app.screens.entities.search") }}
        </label>
      </p-ifta-label>

      <div class="animate__animated animate__fadeIn">
        @if (activeListIndex().type === "character") {
          <shared-character-list
            [isDisabled]="isSearching"
            [items]="entityLabels()"
            [activeCharacter]="activeIndex()"
            (activeCharacterChange)="handleIndexChange($event)"
          />
        } @else {
          <shared-searchable-list
            [options]="indexOptions()"
            [isDisabled]="isSearching"
            [activeValue]="activeIndex()"
            (activeValueChange)="handleIndexChange($event)"
          />
        }
      </div>
    </nav>
  </ng-template>

  <ng-template #main>
    <div class="border-surface-300 bg-surface-0 rounded-md border p-5">
      <header class="mb-6 pb-5 select-none">
        @if (active) {
          <h1 class="text-4xl font-semibold tracking-tight">
            {{ t(active.label) }}
          </h1>
        }

        <p class="text-surface-600 mt-3 text-sm tracking-wide uppercase">
          {{ t("app.screens.entities.entries", { value: activeIndexLabel() }) }}
        </p>
      </header>

      <p-data-view class="animate__animated animate__fadeIn" [value]="filteredEntities()">
        <ng-template #list let-items>
          <shared-nodes-view
            [nodes]="items"
            [properties]="properties()"
            [isLoading]="$list.isLoading()"
            [routeTarget]="['/', ROUTES.ENTITIES]"
          />
        </ng-template>

        <ng-template #emptymessage>
          @if (!$list.isLoading()) {
            {{ t("app.screens.entities.empty") }}
          }
        </ng-template>
      </p-data-view>
    </div>
  </ng-template>
</shared-screen-shell>
