{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 140,
        "parser": "angular"
      }
    },
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
