<shared-mobile-pagination [rows]="rows()" [skip]="skip()" [totalRecords]="totalRecords()" (lazyLoad)="handleLazyLoad($event)" />

<p-data-view
  class="select-none"
  paginatorPosition="both"
  paginatorStyleClass="border-0! p-0! hidden! lg:flex!"
  [value]="items()"
  [rows]="rows()"
  [first]="skip()"
  [totalRecords]="totalRecords()"
  [rowsPerPageOptions]="PAGE_LIMITS"
  [lazyLoadOnInit]="false"
  (onLazyLoad)="handleLazyLoad($event)"
  paginator
  lazy
>
  <ng-template #list let-items>
    <div class="my-9">
      <shared-nodes-view [nodes]="items" [properties]="properties()" [routeTarget]="routeTarget()" [isLoading]="isLoading()" />
    </div>
  </ng-template>

  <ng-template #paginatorleft let-item>
    <span class="text-surface-600 tracking-wide"> ({{ item.first + 1 }} — {{ Math.min(item.first + item.rows, totalRecords()) }}) </span>
  </ng-template>
</p-data-view>

<shared-mobile-pagination [rows]="rows()" [skip]="skip()" [totalRecords]="totalRecords()" (lazyLoad)="handleLazyLoad($event)" />
