<main class="min-h-screen px-6 py-10">
  @if (collectionList(); as list) {
    <div class="mx-auto grid max-w-7xl gap-6 lg:grid-cols-[minmax(0,1fr)_350px]">
      <section class="border-surface-300 bg-surface-0/75 order-2 rounded-md border p-5 lg:order-1!">
        <header class="mb-3 pb-5 select-none">
          <h1 class="text-4xl font-semibold tracking-tight">Gesamtkorpus</h1>
          <p class="text-surface-600 mt-3 text-sm tracking-wide uppercase">Insgesamt {{ list.pagination.total }} Einträge verfügbar</p>
        </header>

        <div class="animate__animated animate__fadeIn">
          <shared-paginated-list
            [items]="list.data"
            [totalRecords]="list.pagination.total"
            [rows]="list.pagination.limit"
            [skip]="list.pagination.skip"
            [isLoading]="$list.isLoading()"
            (onPageChange)="handleOptionsChange($event)"
          />
        </div>
      </section>
      <aside class="order-1 self-start lg:order-2">
        <div class="flex flex-col gap-5">
          <div class="border-surface-300 bg-surface-0 rounded-md border p-5 select-none"></div>
        </div>
      </aside>
    </div>
  }
</main>
