<main class="min-h-screen px-6 py-10">
  @if (collections(); as list) {
    <div class="mx-auto grid max-w-7xl gap-6 lg:grid-cols-[minmax(0,1fr)_350px]">
      <section class="border-surface-300 bg-surface-0/75 order-2 rounded-md border p-5 lg:order-1!">
        <header class="mb-3 pb-5 select-none">
          <h1 class="text-4xl font-semibold tracking-tight">{{ activeNode().label }}</h1>
          <p class="text-surface-600 mt-3 text-sm tracking-wide uppercase">Insgesamt {{ list.pagination.total }} Einträge verfügbar</p>
        </header>

        <div class="animate__animated animate__fadeIn">
          <shared-paginated-list
            [items]="list.data"
            [properties]="properties()"
            [totalRecords]="list.pagination.total"
            [rows]="list.pagination.limit"
            [skip]="list.pagination.skip"
            [routeTarget]="['/', ROUTES.COLLECTION]"
            [isLoading]="$list.isLoading()"
            (onPageChange)="handlePaginationChange($event)"
          />
        </div>
      </section>
      <aside class="order-1 lg:order-2">
        <div class="space-y-5">
          <div class="border-surface-300 bg-surface-0 rounded-md border p-5 select-none">
            <shared-select
              label="Sammlung auswählen:"
              [items]="nodes()"
              [activeItem]="activeNode()"
              (activeItemChange)="handleNodeChange($event)"
            />
          </div>

          <div class="border-surface-300 bg-surface-0 space-y-3 rounded-md border p-5 select-none">
            <p-ifta-label>
              <input
                id="search"
                pInputText
                fluid
                type="search"
                autocomplete="off"
                [ngModel]="listOptions().search ?? ''"
                (ngModelChange)="handleSearchChange($event)"
              />
              <label for="search">Sammlung durchsuchen:</label>
            </p-ifta-label>

            <div class="flex flex-row gap-3">
              <shared-select
                class="w-full"
                label="Sortieren nach:"
                [items]="sortOptions()"
                [activeItem]="activeSort()"
                (activeItemChange)="handleSortChange({ orderBy: $event?.value })"
              />

              <p-button
                icon="pi {{ listOptions().asc ? 'pi-sort-amount-up' : 'pi-sort-amount-down-alt' }}"
                styleClass="h-full! w-12!"
                tooltipPosition="bottom"
                positionTop="5"
                [pTooltip]="listOptions().asc ? 'aufsteigend' : 'absteigend'"
                (click)="handleSortChange({ asc: !listOptions().asc })"
                outlined
              />
            </div>
          </div>

          <div class="border-surface-300 bg-surface-0 space-y-3 rounded-md border p-5 select-none">
            <shared-facet-list
              [facets]="facets()"
              [filters]="activeNode().filters ?? []"
              [activeFilters]="activeFilters()"
              (activeFiltersChange)="handleFilterChange($event)"
            />
          </div>
        </div>
      </aside>
    </div>
  }
</main>
