<main class="min-h-screen px-6 py-10">
  @if (collectionList(); as list) {
    <div class="mx-auto grid max-w-7xl gap-6 lg:grid-cols-[minmax(0,1fr)_350px]">
      <section class="border-surface-300 bg-surface-0/75 order-2 rounded-md border p-5 lg:order-1!">
        <header class="mb-3 pb-5 select-none">
          <h1 class="text-4xl font-semibold tracking-tight">Gesamtkorpus</h1>
          <p class="text-surface-600 mt-3 text-sm tracking-wide uppercase">Insgesamt {{ list.pagination.total }} Einträge verfügbar</p>
        </header>

        <div class="animate__animated animate__fadeIn">
          <shared-paginated-list
            [items]="list.data"
            [properties]="propertyList()"
            [totalRecords]="list.pagination.total"
            [rows]="list.pagination.limit"
            [skip]="list.pagination.skip"
            [routeTarget]="['/', ROUTES.COLLECTION]"
            [isLoading]="$list.isLoading()"
            (onPageChange)="handlePaginationChange($event)"
          />
        </div>
      </section>
      <aside class="order-1 lg:order-2">
        <div class="space-y-5">
          <div class="border-surface-300 bg-surface-0 rounded-md border p-5 select-none">
            <shared-select
              label="Sammlung auswählen:"
              [items]="categories()"
              [activeItem]="activeCategory()"
              (activeItemChange)="handleCategoryChange($event)"
            />
          </div>

          <div class="border-surface-300 bg-surface-0 space-y-3 rounded-md border p-5 select-none">
            <p-ifta-label>
              <input
                id="search"
                pInputText
                fluid
                type="search"
                autocomplete="off"
                [ngModel]="options().search ?? ''"
                (ngModelChange)="handleSearchChange($event)"
              />
              <label for="search">Sammlung durchsuchen:</label>
            </p-ifta-label>

            <div class="flex flex-row gap-3">
              <p-ifta-label class="w-full">
                <p-select id="sort" fluid />
                <label for="sort">Sortieren nach:</label>
              </p-ifta-label>

              <p-button
                styleClass="h-full! w-12!"
                icon="pi {{ options().asc ? 'pi-sort-amount-down' : 'pi-sort-amount-up' }}"
                (click)="handleSortingChange({ asc: !options().asc })"
                outlined
              />
            </div>

            <p-ifta-label class="w-full">
              <p-select id="sort" fluid />
              <label for="sort">Filtern nach:</label>
            </p-ifta-label>
          </div>
        </div>
      </aside>
    </div>
  }
</main>
