## DEFAULT CONFIGURATIONS
NODE_ENV="dev" # dev || prod
LOG_LEVEL="info"

## ORA SERVER CONFIGURATIONS
ORA_SERVER_PORT="3000"

## ORA SERVER CONTENT PATHS
CONFIGURATION_PATH="../config"
LANGUAGES_PATH="../i18n"
MARKDOWN_PATH="../markdown"
ASSETS_PATH="../assets"

## NEO4J SERVICE CONFIGURATION
NEO4J_HOST="neo4j+s://example.com"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="password"
