NODE_ENV="dev" # dev || prod
LOG_LEVEL="info"

## ORA SERVER
ORA_SERVER_PORT="3000"
OVERRIDES_PATH="../config"
LANGUAGES_PATH="../i18n"

## NEO4J SERVICE
NEO4J_HOST="neo4j+s://example.com"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="password"
