<p-fieldset styleClass="border-surface-300! bg-surface-100/25! border-l-0! border-r-0! rounded-none! pt-5! pb-10! px-10!">
  <ng-template #header>
    <span class="font-bold font-stretch-semi-condensed select-none">
      {{ title() }}
    </span>
  </ng-template>

  <div class="grid gap-8 px-3 md:grid-cols-2 lg:gap-6 xl:grid-cols-3">
    @for (item of props().items; track $index) {
      <div>
        <div class="flex items-baseline gap-3">
          <i class="pi pi-angle-right text-sm!"></i>

          <div class="flex flex-col gap-1">
            <h3 class="text-lg font-semibold">{{ label(item) }}:</h3>
            <span>{{ value(item) }}</span>
          </div>
        </div>
      </div>
    }
  </div>
</p-fieldset>
