@if (hasPopover()) {
  <span [class]="classes()" [pTooltip]="tooltip()" tooltipPosition="top" (click)="togglePopover($event)">
    <annotation-segments [segments]="segment().children"
  /></span>

  <p-popover>
    <annotation-popover [annotations]="segment().annotations" />
  </p-popover>
} @else if (isExternalLink() && href(); as href) {
  <a [href]="href" target="_blank" rel="noopener noreferrer" [class]="classes()" [pTooltip]="tooltip()" tooltipPosition="top">
    <annotation-segments [segments]="segment().children" />
  </a>
} @else if (tooltip()) {
  <span [class]="classes()" [pTooltip]="tooltip()" tooltipPosition="top">
    <annotation-segments [segments]="segment().children" />
  </span>
} @else {
  <span [class]="classes()">
    <annotation-segments [segments]="segment().children" />
  </span>
}
