@let isSearching = searchPhrase() !== "";

<main class="min-h-screen px-6 py-10">
  <div class="mx-auto grid max-w-7xl gap-6 lg:grid-cols-[350px_minmax(0,1fr)]">
    <aside class="self-start lg:sticky lg:top-10">
      <div class="space-y-5">
        <div class="border-surface-300 bg-surface-0 rounded-md border p-5 select-none">
          <shared-select
            selectLabel="Register auswählen:"
            [items]="categories()"
            [activeItem]="activeCategory()"
            (activeItemChange)="handleCategory($event)"
          />
        </div>

        <nav class="border-surface-300 bg-surface-0 space-y-5 rounded-md border p-5 select-none">
          <p-ifta-label>
            <input
              id="search"
              pInputText
              fluid
              type="search"
              autocomplete="off"
              [ngModel]="searchPhrase()"
              (ngModelChange)="handleSearch($event)"
            />
            <label for="search">Register durchsuchen:</label>
          </p-ifta-label>

          @if (!$list.isLoading()) {
            <shared-character-list
              [isDisabled]="isSearching"
              [items]="entityLabels()"
              [activeCharacter]="activeCharacter()"
              (activeCharacterChange)="handleCharacter($event)"
            />
          } @else {
            <div class="flex justify-center py-10">
              <p-progress-spinner class="spinner-base" />
            </div>
          }
        </nav>
      </div>
    </aside>

    <section class="border-surface-300 bg-surface-0/75 rounded-md border p-5">
      <header class="mb-6 pb-5 select-none">
        <h1 class="text-4xl font-semibold tracking-tight">
          {{ activeCategory().label }}
        </h1>

        <p class="text-surface-600 mt-3 text-sm tracking-wide uppercase">
          Einträge zu: {{ isSearching ? searchPhrase() : activeCharacter() }}
        </p>
      </header>

      <div class="animate__animated animate__fadeIn">
        <p-data-view [value]="filteredEntities()">
          <ng-template #list let-items>
            <shared-nodes-view [nodes]="items" [properties]="properties()" [isLoading]="$list.isLoading()" [route]="ROUTES.ENTITY" />
          </ng-template>
          <ng-template #emptymessage>Es konnten keine Einträge gefunden werden. </ng-template>
        </p-data-view>
      </div>
    </section>
  </div>
</main>
