@let isSearching = searchPhrase() !== "";

<main class="min-h-screen px-6 py-10">
  <div class="mx-auto grid max-w-7xl gap-6 lg:grid-cols-[350px_minmax(0,1fr)]">
    <aside class="self-start lg:sticky lg:top-10">
      <div class="space-y-5">
        <div class="border-surface-300 bg-surface-0 rounded-md border p-5 select-none">
          <app-select
            label="Register auswählen:"
            [items]="categories()"
            [active]="selectedCategory()"
            (activeChange)="handleCategory($event)"
          />
        </div>

        <nav class="border-surface-300 bg-surface-0 space-y-5 rounded-md border p-5 select-none">
          <p-ifta-label>
            <input
              id="search"
              pInputText
              fluid
              type="search"
              autocomplete="off"
              [ngModel]="searchPhrase()"
              (ngModelChange)="handleSearch($event)"
            />
            <label for="search">Register durchsuchen:</label>
          </p-ifta-label>

          <app-character-list
            [hidden]="$list.isLoading()"
            [isDisabled]="isSearching"
            [items]="labels()"
            [currentCharacter]="selectedCharacter()"
            (currentCharacterChange)="handleCharacter($event)"
          />
        </nav>
      </div>
    </aside>

    <section class="border-surface-300 bg-surface-0/75 rounded-md border p-5">
      <header class="border-surface-300 border-b-2 pb-5 select-none">
        <h1 class="text-4xl font-semibold tracking-tight">
          {{ selectedCategory().label }}
        </h1>

        <p class="text-surface-600 mt-3 text-sm tracking-wide uppercase">
          Einträge zu: {{ isSearching ? searchPhrase() : selectedCharacter() }}
        </p>
      </header>

      <div class="animate__animated animate__fadeIn pt-6" [hidden]="$list.isLoading()">
        <p-data-view [value]="filteredEntities()">
          <ng-template #list let-items>
            @for (entity of items; track entity.uuid; let last = $last) {
              <a
                class="flex cursor-pointer items-center gap-3 transition-opacity duration-200 hover:opacity-70"
                [routerLink]="['/entity', entity.uuid]"
              >
                <i class="pi pi-angle-right text-xs!"></i>

                <span class="text-lg">
                  {{ entity.label }}
                  <span class="align-text-top text-sm" [hidden]="properties().length === 0">
                    (<app-property-list [properties]="properties()" [object]="entity" />)
                  </span>
                </span>
              </a>

              <p-divider [hidden]="last" />
            }
          </ng-template>

          <ng-template #emptymessage> Keine Einträge gefunden. </ng-template>
        </p-data-view>
      </div>
    </section>
  </div>
</main>
