<main class="min-h-screen px-6 py-4 md:py-10" *transloco="let t">
  @if (collections(); as list) {
    @if (activeOption(); as active) {
      <div class="mx-auto grid max-w-7xl gap-6 lg:grid-cols-[minmax(0,1fr)_350px]">
        <section class="border-surface-300 bg-surface-0/75 order-2 rounded-md border p-5 lg:order-1!">
          <header class="mb-3 pb-5 select-none">
            <h1 class="text-4xl font-semibold tracking-tight">
              {{ t(active.label) }}
            </h1>

            <p class="text-surface-600 mt-3 text-sm tracking-wide uppercase">
              {{ t("app.screens.collections.available", { count: list.pagination.total }) }}
            </p>
          </header>

          <shared-paginated-list
            class="animate__animated animate__fadeIn"
            [items]="list.data"
            [properties]="properties()"
            [totalRecords]="list.pagination.total"
            [rows]="list.pagination.limit"
            [skip]="list.pagination.skip"
            [routeTarget]="['/', ROUTES.COLLECTIONS]"
            [isLoading]="$list.isLoading()"
            (pageChange)="handlePaginationChange($event)"
          />
        </section>

        <aside class="order-1 space-y-5 lg:order-2">
          <section class="border-surface-300 bg-surface-0 rounded-md border p-5 select-none">
            <shared-select
              label="app.screens.collections.select"
              [items]="listOptions()"
              [activeItem]="active"
              (activeItemChange)="handleActiveItemChange($event)"
            />
          </section>

          <section class="border-surface-300 bg-surface-0 space-y-3 rounded-md border p-5 select-none">
            <div class="flex gap-3">
              <p-ifta-label class="w-full">
                <input
                  id="search"
                  pInputText
                  fluid
                  type="search"
                  autocomplete="off"
                  [ngModel]="queryOptions().search ?? ''"
                  (ngModelChange)="handleSearchChange($event)"
                />

                <label for="search">
                  {{ t("app.screens.collections.search") }}
                </label>
              </p-ifta-label>

              <p-button
                icon="pi pi-eraser"
                styleClass="h-full! w-12!"
                tooltipPosition="bottom"
                positionTop="5"
                showDelay="500"
                outlined
                severity="secondary"
                [pTooltip]="t('app.screens.collections.tooltips.reset')"
                (click)="handleClearFilter()"
              />
            </div>

            <div class="flex gap-3">
              <shared-select
                class="w-full"
                label="app.screens.collections.sort"
                [items]="sort()"
                [activeItem]="activeSort()"
                (activeItemChange)="handleSortChange({ orderBy: $event?.value })"
              />

              <p-button
                styleClass="h-full! w-12!"
                tooltipPosition="bottom"
                positionTop="5"
                showDelay="500"
                outlined
                severity="secondary"
                [icon]="queryOptions().asc ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down-alt'"
                [pTooltip]="
                  queryOptions().asc ? t('app.screens.collections.tooltips.ascending') : t('app.screens.collections.tooltips.descending')
                "
                (click)="handleSortChange({ asc: !queryOptions().asc })"
              />
            </div>
          </section>

          @if (filters().length > 0) {
            <section class="border-surface-300 bg-surface-0 space-y-3 rounded-md border p-5 select-none">
              <shared-facet-list
                [facets]="facets()"
                [filters]="active.filters ?? []"
                [activeFilters]="activeFilters()"
                (activeFiltersChange)="handleFilterChange($event)"
              />
            </section>
          }
        </aside>
      </div>
    }
  }
</main>
