<p-accordion [multiple]="true" [value]="expandedFacets()" (valueChange)="handleAccordionChange($event)">
  @for (facet of facets(); track facet.field) {
    <p-accordion-panel [value]="facet.field" class="border-0!">
      <p-accordion-header class="py-3!">
        <div class="flex items-center gap-4 tracking-tight">
          @if (getFacetIcon(facet.field); as icon) {
            <i [class]="icon"></i>
          }

          <span *transloco="let t"> {{ t(getFacetLabel(facet.field)) }} ({{ facet.values.length }}) </span>
        </div>
      </p-accordion-header>

      <p-accordion-content class="[--p-accordion-content-padding:0_1.125rem_10px_1.125rem]!">
        <shared-facet-list-item
          [facet]="facet"
          [filter]="getFilter(facet.field)"
          [activeFilters]="activeFilters()"
          (activeFiltersChange)="activeFiltersChange.emit($event)"
        />
      </p-accordion-content>
    </p-accordion-panel>
  }
</p-accordion>
