<p-list-box
  class="w-full border-0! shadow-none! [--p-listbox-checkmark-gutter-end:15px]! [--p-listbox-checkmark-gutter-start:0]! [--p-listbox-list-header-padding:0_0_10px_0]! [--p-listbox-list-padding:0]!"
  [options]="options()"
  [filter]="isFilterable()"
  [ngModel]="selectedValues()"
  (ngModelChange)="handleSelectionChange($event)"
  [virtualScroll]="facet().values.length > 100"
  virtualScrollItemSize="40"
  optionLabel="value"
  optionValue="value"
  optionDisabled="disabled"
  scrollHeight="190px"
  emptyMessage="Keine Einträge gefunden..."
  emptyFilterMessage="Keine Einträge gefunden."
  showToggleAll="false"
  checkbox
  multiple
>
  <ng-template #item let-option>
    <span
      class="tracking-tight"
      [class.whitespace-nowrap]="facet().values.length > 100"
      [title]="getFilterValue(option.value) + ' (' + option.count + ')'"
    >
      {{ getFilterValue(option.value) }} ({{ option.count }})
    </span>
  </ng-template>
</p-list-box>
