@if (text(); as text) {
  <p-fieldset
    styleClass="print:pb-5! border-surface-300! bg-surface-100/25! border-l-0! border-r-0! rounded-none! px-3! md:px-10! pb-10! pt-5!"
  >
    <ng-template #header>
      @if (title(); as title) {
        <span class="font-bold font-stretch-semi-condensed select-none" *transloco="let t">
          {{ t(title) }}
        </span>
      }
    </ng-template>

    <div class="px-3 whitespace-pre-line">
      @if (config && annotations(); as annotations) {
        <shared-text-view [text]="text" [annotations]="annotations" [config]="config" />
      } @else {
        {{ text }}
      }
    </div>
  </p-fieldset>
}
