@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@source inline("{block,inline,inline-block}");
@source inline("{underline,line-through,italic,font-bold,font-semibold,font-medium,font-serif,font-sans,tracking-wide,uppercase,align-super}");
@source inline("{text-xs,text-sm,text-base,text-lg,text-xl}");
@source inline("{opacity-60,opacity-70,opacity-80,select-none,cursor-pointer,cursor-help}");
@source inline("{rounded,rounded-sm,rounded-md,px-0.5,px-1,py-0.5}");

@source inline("underline-offset-{1,2,4,8}");
@source inline("decoration-{solid,dotted,dashed,wavy}");
@source inline("decoration-{1,2,4,8}");

@source inline("text-{red,green,blue,yellow,rose,emerald,sky,amber,slate,gray,purple,orange,violet,zinc,neutral}-{50,100,200,300,400,500,600,700,800,900}");
@source inline("bg-{red,green,blue,yellow,rose,emerald,sky,amber,slate,gray,purple,orange,violet,zinc,neutral}-{50,100,200,300,400,500,600,700,800,900}");
@source inline("border-{red,green,blue,yellow,rose,emerald,sky,amber,slate,gray,purple,orange,violet,zinc,neutral}-{50,100,200,300,400,500,600,700,800,900}");
@source inline("decoration-{red,green,blue,yellow,rose,emerald,sky,amber,slate,gray,purple,orange,violet,zinc,neutral}-{50,100,200,300,400,500,600,700,800,900}");

@source inline("border-b");
@source inline("border-b-{1,2,4,8}");
@source inline("mt-{1,2,3,4,5,6,8}");
@source inline("mb-{1,2,3,4,5,6,8}");
@source inline("my-{1,2,3,4,5,6,8}");
@source inline("ms-{1,2,3,4,5,6,8}");
@source inline("ps-{1,2,3,4,5,6,8}");

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  @apply text-primary overscroll-y-none;
}

body {
  @apply bg-surface-50! m-0;
}

/**** Pagination Definitions **/

.p-paginator .p-paginator-page {
  @apply transition-none!;
}

/**** Menubar Definitions **/

.p-menubar-item.p-focus:not(:hover) > .p-menubar-item-content,
.p-menubar-item.p-focus > .p-menubar-item-content:not(:hover) {
  background: transparent !important;
  color: inherit !important;
}

.p-menuitem-link-active {
  @apply rounded-md! bg-(--p-menubar-item-focus-background)! text-(--p-menubar-item-focus-color)!;
}

/**** General Dialog Definitions **/

.p-dialog {
  @apply border-surface-300! overflow-hidden rounded-2xl;
}

.p-dialog .p-dialog-header {
  @apply bg-primary-900 text-primary-50 px-2 py-2;
}

.p-dialog .p-dialog-content {
  @apply py-4;
}

.p-dialog .p-dialog-close-button,
.p-dialog .p-dialog-header-close {
  @apply text-primary-50! hover:bg-primary-800! text-sm!;
}

/**** Annotation Popover Definitions **/

.annotation-popover-anchor-active {
  @apply ring-surface-900 z-50 rounded-sm bg-yellow-50 ring-2 ring-offset-6;
}

/** Spinner Definitions **/

.spinner-base {
  @apply h-16.25! w-16.25!;
}

/** Background Base **/

.bg-gradient {
  @apply from-primary-950 via-primary-800 to-primary-600 text-primary-100 bg-linear-to-br;
}

.bg-soft {
  @apply bg-primary-600 text-primary-50;
}

.bg-dark {
  @apply bg-primary-950 text-primary-50;
}

.bg-light {
  @apply bg-primary-100 text-primary-950;
}
